Repository 222-KPR/ai-thailand-hackathon-2025: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-audit, cargo-test, cargo-doc, docker-compose-validate

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-audit: any of: Cargo\.(toml|lock)$
  cargo-test: any of: \.rs$
  cargo-doc: any of: \.rs$
  docker-compose-validate: any of: docker-compose\.ya?ml$

sglang composer
  ai-services/deployment/docker-compose.yml
Due: docker-compose-validate

docs(frontend): add comprehensive frontend documentation with 2025 design system
  docs/frontend/README.md
  docs/frontend/component-architecture.md
  docs/frontend/design-system.md
  docs/frontend/pwa-implementation.md
  docs/frontend/testing-strategy.md
Due: none

test: add comprehensive testing infrastructure with atomic workflow support
  scripts/test-all.sh
  scripts/test-frontend.sh
Due: none

feat(dev): enhance development environment setup with comprehensive toolchain
  scripts/setup-dev.sh
Due: none

docs: reorganize documentation structure with frontend development focus
  docs/README.md
Due: none

test(frontend): add WebAssembly testing infrastructure with wasm-pack
  frontend/TESTING_STRATEGY.md
  frontend/tests/design_system_tests.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-doc

deps(frontend): add WebAssembly testing dependencies
  frontend/Cargo.toml
Due: cargo-audit

chore: update Cargo.lock with frontend testing dependencies
  Cargo.lock
Due: cargo-audit

add api spec to readme
  README.md
Due: none

add: postman export colleciton
  AI Hackathon Thailand 2025.postman_collection.json
Due: none

feat(docker): add Docker development environment for Yew WebAssembly frontend
  frontend/Dockerfile.dev
  frontend/docker-compose.dev.yml
Due: none

feat(docker): add production Docker configuration with Nginx optimization
  frontend/Dockerfile
  frontend/nginx.conf
Due: none

fix: standardize AI service ports to 2000-2099 range
  .env.example
  CLAUDE.md
  README.md
  ai-services/deployment/.env.example
  ai-services/deployment/docker-compose.yml
  ai-services/queue-worker/app.py
  ai-services/queue-worker/tasks.py
  ai-services/vision-service/app.py
  docker-compose.yml
  scripts/dev-start.sh
Due: docker-compose-validate

feat: standardize container names to team10 naming pattern
  ai-services/deployment/docker-compose.yml
  docker-compose.yml
  scripts/dev-start.sh
  scripts/dev-stop.sh
Due: docker-compose-validate

feat: standardize AI services volumes to team10 naming
  ai-services/deployment/docker-compose.yml
Due: docker-compose-validate

feat: add GitLab CI/CD pipeline for AI services deployment
  .gitlab-ci-env.example
  .gitlab-ci.yml
  DEPLOYMENT.md
  scripts/deploy-ai-services.sh
Due: none

fix: update vision service Dockerfile for GitLab deployment
  ai-services/vision-service/Dockerfile
  ai-services/vision-service/requirements.txt
Due: none

fix(api-gateway): add complete TOML configuration for development
  api-gateway/config/default.toml
  api-gateway/config/development.toml
  start-dev.sh
  stop-dev.sh
Due: none

feat(frontend): add Docker-based development infrastructure
  docker-compose.frontend.yml
  frontend-docker.sh
  frontend/Cargo.lock
  frontend/Dockerfile
  frontend/nginx.conf
Due: cargo-audit

feat(frontend): create minimal working frontend with API integration
  Cargo.lock
  Cargo.toml
  FRONTEND_STATUS.md
  frontend/Cargo.toml
  frontend/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-test, cargo-doc

feat(ai-services): optimize Docker builds for H100 16GB VRAM and reduce CI artifact size
  .gitlab-ci.yml
  H100_OPTIMIZATION.md
  ai-services/deployment/.env.h100
  ai-services/deployment/docker-compose.yml
  ai-services/queue-worker/.dockerignore
  ai-services/queue-worker/Dockerfile
  ai-services/vision-service/.dockerignore
  ai-services/vision-service/Dockerfile
  ai-services/vision-service/requirements.txt
  build-h100-optimized.sh
Due: docker-compose-validate

fix(ai-services): resolve Docker build failures for H100 deployment
  ai-services/vision-service/Dockerfile
  ai-services/vision-service/requirements.txt
Due: none

fix(ai-services): resolve Docker build failures for H100 deployment
  README.md
  ai-services/AI4Thai_Queue_Worker.postman_collection.json
  ai-services/AI4Thai_Vision_Service.postman_collection.json
  ai-services/API_Testing_Guide.md
  ai-services/vision-service/Dockerfile
  ai-services/vision-service/requirements.txt
Due: none

add: template for api gateway and rabbitmq system
  API_GATEWAY_RABBITMQ_IMPLEMENTATION.md
  api-gateway/Cargo.toml
  api-gateway/src/config/mod.rs
  api-gateway/src/handlers/health.rs
  api-gateway/src/handlers/mod.rs
  api-gateway/src/handlers/vision.rs
  api-gateway/src/lib.rs
  api-gateway/src/main.rs
  api-gateway/src/services/file_storage.rs
  api-gateway/src/services/mod.rs
  api-gateway/src/services/rabbitmq.rs
  docker-compose.yml
Due: cargo-fmt, cargo-clippy, cargo-audit, cargo-test, cargo-doc, docker-compose-validate

fix: api gateway response
  HACKATHON_DEPLOYMENT.md
  api-gateway/src/handlers/chat.rs
  deploy-hackathon.sh
  docker-compose.yml
  test-hackathon-api.sh
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-doc, docker-compose-validate

style(ai-services): apply consistent code formatting across all services
  ai-services/queue-worker/app.py
  ai-services/queue-worker/tasks.py
  ai-services/vision-service/app.py
  ai-services/vision-service/memory_manager.py
  ai-services/vision-service/services/disease_detection.py
  ai-services/vision-service/services/pest_detection.py
  ai-services/vision-service/test_vision_service.py
Due: none

feat: enhance AI services deployment with path validation and resource optimization
  .gitlab-ci.yml
  ai-services/deployment/.env.resource-constrained
  ai-services/deployment/build-resource-constrained.sh
  ai-services/deployment/docker-compose.ci.yml
  ai-services/deployment/generate-compose.sh
  ai-services/deployment/test-paths.sh
  ai-services/deployment/validate-deployment.sh
Due: none
